<h1>VAST Overflow</h1>


<h2 id=questions_list> Recently asked questions: </h2>
<!-- <ul> <#% @question.each do |question| %>
        <li><a href="/users/question"<#%= question %></a></li>
</ul>
 -->
<div id="votes_div">
<h3 id="votes_label"> Number of Upvotes </h3>
</div>
<div id="answers_div">
<h3 id="answers_label"> # of Answers to Question</h3>
</div>
